h1 {
    text-shadow: 3px 3px darkgray;
    text-align: center;
}

p {
    text-shadow: 3px 3px darkgray;
    text-align: left;
}

li.horizontal {
    display: inline;
    float: left;
}

a.horizontal {
    display: block;
    padding: 8px;
    background-color: brown;
}

body {
    background-color: lightblue;
    background-image: url(https://img1.goodfon.com/wallpaper/nbig/4/31/priroda-rastenie-kolosya.jpg);
    background-position: center;
}

div {
    text-align: left;
}